.title{
    font-size: 10em;
    margin: 0rem 0 -6rem 0;
    text-align: center;
    color: #fcedd8;
     font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939
}